<% if can? :update, @profile %>
<div style="width: 100%">
  <div style="margin: auto; width: 450px;">
    <h1>Profile DashBoard</h1>
  </div>
</div>
<% end %>
<div class="dashboard_home_banner_container">
  <div class="dashboard_home_banner_content">
    <div class="dashboard_home_banner">
      <div class="dashboard_title">
        <!--  <p  style="color:black;padding-left:15px;font-size:30px"><strong> <%= @user.name %></strong></p>  -->
      </div>
    </div>
  </div>
</div>